*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1060px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto;
}
section{
    padding: 80px 0px;
}
header{
    width: 100%;
    background: #648cff;
    height: 600px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.main_bar{
    width: 100%;
}
.logo_menu{
    width: 150px;
}
.logo_menu img{
    width: 150px;
    margin-top: 20px;
}
.menu_area{
    width: 600px;
    float: right;
    margin-top: -30px;
    margin-right: 25%;
}
.menu_area ul li{
    list-style-type: none;
}
.menu_area ul li a{
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-weight: 500;
    margin-left: 80px;
    transition: all .3s ease;
}
.menu_area ul li a:hover{
    color:#eb3f0f;
}
.social {
    width: 200px;
    float: right;
    margin-top: -30px;
    margin-right: -45px;
}
.social a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    transition: all .4s ease;
}
.social a:hover{
    color:rgb(0, 255, 242);
}
.content_left {
    width: 350px;
    margin-top: 12%;
}
.content_left h1 {
    color: #fff;
    margin-bottom: 30px;
    font-family: arial;
    font-size: 40px;
}
.header_content{
    width: 100%;
}
.content_left p {
    color: #fff;
    font-family: arial;
    margin-bottom: 40px;
}
button#downloads {
    border: none;
    background: #fc6a42;
    padding: 12px 25px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}
button#downloads a{
    text-decoration: none;
    color: #fff;
}
button#downloads:hover{
    background: #eb3f0f;
    cursor: pointer;

}

button#features {
    border: none;
    background: #4466c9;
    padding: 12px 33px;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
}
button#features a{
    text-decoration: none;
    color: #fff;
}
button#features:hover{
    background: #1138ac;
    cursor: pointer;
    
}

.content_right{
    width: 300px;
    float: right;
}
.content_right img {
    margin-top: -100%;
    width: 200px;
    margin-left: -46%;
    border-radius: 30px;
}
section#features {
    height: 270px;
}
.sec_title{
    text-align: center;
    margin-bottom: 10%;
}
.sec_title h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #648cff;
}
.sec_title p{
    color: #999999;
    font-size: 18px;
    margin-top: 10px;
}
.main_icon {
    width: 80px;
    float: left;
    font-size: 60px;
    color: #fc7c58;
}

.icon_title {
    float: left;
    width: 250px;
    line-height: 25px;
}
.single_icon {
    width: 350px;
    float: left;
    margin-right: 5px;
}
.single_icon:last-child{
    margin-right: 0px;
}

.icon_title h2 {
    margin-bottom: 15px;
    color: #353854;
}

.icon_title p {
    color: #b4b4b4;
}
.widgets_img img {
    margin: 0px auto;
    margin-left: 21%;
    width: 60%;
}
section#widgets .sec_title {
    margin-bottom: 60px;
}
.about_screenshot img {
    border-radius: 30px;
    margin-left: 215px;
    float: left;
}
.mobile_shot {
    width: 250px;
    margin-left: 100px;
}
section#screenshot {
    height: 560px;
}
.screenshot_content {
    float: left;
    width: 320px;
    line-height: 25px;
    margin-left: 20%;
    margin-top: 10%;
}
.weather_icon {
    width: 80px;
}

.weather_icon i {
    color: #648cff;
    font-size: 50px;
    margin-bottom: 25px;
}

.weather_content h2 {
    color: #648cff;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.weather_content p {
    color: #353854;
}
section#screenshot_two{
    height: 460px;
}
section#screenshot_three{
    height: 450px;

}
.single_chart{
    width: 360px;
    line-height: 25px;
    float: left;
    margin-left: 130px;
    margin-top: 65px;
}
.single_chart p{
    color: #353854;
}
.single_chart h5{
    color: #353854cb;
    margin-top: 10px;
}
.single_chart i{
    color: #648cff;
    font-size: 25px;
}
.people_icons i{
    margin-bottom: 15px;
}
.people_icons_one i{
    float: right;
}
.single_chart:first-child{
    margin-top: 0px;
}
section#screenshot_three {
    height: 450px;
    overflow: hidden;
}
#people_saying .sec_title {
    margin-bottom: 20px;
}
#people_saying{
    height: 550px;
}
section#download_app {
    height: 200px;
    background: #648cff;
}
.download_sector {
    width: 350px;
    line-height: 22px;
    margin-top: 20px;
}

.download_sector h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #fff;
}

.download_sector p {
    color: #fff;
    margin-bottom: 30px;
}
button#app_store {
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    background: #000;
}
button#app_store i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
button#app_store a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

button#google_play {
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    margin-left: 10px;
    background: #000;
}
button#google_play i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
button#google_play a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.image_sector{
    float: left;
    width: 400px;
}


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif4;
}

.container {
    width: 1060px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto;
}
section{
    padding: 80px 0px;
}
header{
    background: #648cff;
    height: 600px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.logo_menu{
    width: 150px;
}
.logo_menu img{
    width: 150px;
    margin-top: 20px;
}
.menu_area{
    width: 600px;
    overflow: hidden;
    float: right;
    margin-top: -30px;
    margin-right: 25%;
}
.menu_area ul li{
    list-style-type: none;
}
.menu_area ul li a{
    text-decoration: none;
    margin-left: 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-weight: 500;
    margin-left: 80px;
    transition: all .3s ease;
}
.menu_area ul li a:hover{
    color: #eb3f0f;
}
.social {
    width: 200px;
    float: right;
    margin-top: -30px;
    margin-right: -45px;
}
.social a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    transition: all .4s ease;
}
.social a:hover{
    color:rgb(0, 255, 242);
}
.content_left {
    width: 350px;
    margin-top: 12%;
}
.content_left h1 {
    color: #fff;
    margin-bottom: 30px;
    font-family: arial;
    font-size: 40px;
}
.header_content{
    width: 100%;
}
.content_left p {
    color: #fff;
    font-family: arial;
    margin-bottom: 40px;
}
button#downloads {
    border: none;
    background: #fc6a42;
    padding: 12px 25px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}
button#downloads a{
    text-decoration: none;
    color: #fff;
}
button#downloads:hover{
    background: #eb3f0f;
    cursor: pointer;

}

button#features {
    border: none;
    background: #4466c9;
    padding: 12px 33px;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
}
button#features a{
    text-decoration: none;
    color: #fff;
}
button#features:hover{
    background: #1138ac;
    cursor: pointer;
    
}

.content_right{
    float: right;
}
.content_right {
    width: 300px;
}

.content_right img {
    margin-top: -100%;
    width: 200px;
    margin-left: -46%;
    border-radius: 30px;
}
section#features {
    height: 270px;
}
.sec_title{
    text-align: center;
    margin-bottom: 10%;
}
.sec_title h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #648cff;
}
.sec_title p{
    color: #999999;
    font-size: 18px;
    margin-top: 10px;
}
.main_icon {
    width: 80px;
    float: left;
    font-size: 60px;
    color: #fc7c58;
}

.icon_title {
    float: left;
    width: 250px;
    line-height: 25px;
}
.single_icon {
    width: 350px;
    float: left;
    margin-right: 5px;
}
.single_icon:last-child{
    margin-right: 0px;
}

.icon_title h2 {
    margin-bottom: 15px;
    color: #353854;
}

.icon_title p {
    color: #b4b4b4;
}
.widgets_img img {
    margin: 0px auto;
    margin-left: 21%;
    width: 60%;
}
section#widgets .sec_title {
    margin-bottom: 60px;
}
.about_screenshot img {
    border-radius: 30px;
    margin-left: 215px;
    float: left;
}
.mobile_shot {
    width: 250px;
    margin-left: 100px;
}
section#screenshot {
    height: 560px;
}
.screenshot_content {
    float: left;
    width: 320px;
    line-height: 25px;
    margin-left: 20%;
    margin-top: 10%;
}
.weather_icon {
    width: 80px;
}

.weather_icon i {
    color: #648cff;
    font-size: 50px;
    margin-bottom: 25px;
}

.weather_content h2 {
    color: #648cff;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.weather_content p {
    color: #353854;
}
section#screenshot_two{
    height: 460px;
}
section#screenshot_three{
    height: 450px;

}
.single_chart{
    width: 360px;
    line-height: 25px;
    float: left;
    margin-left: 130px;
    margin-top: 65px;
}
.single_chart p{
    color: #353854;
}
.single_chart h5{
    color: #353854cb;
    margin-top: 10px;
}
.single_chart i{
    color: #648cff;
    font-size: 25px;
}
.people_icons i{
    margin-bottom: 15px;
}
.people_icons_one i{
    float: right;
}
.single_chart:first-child{
    margin-top: 0px;
}
section#screenshot_three {
    height: 450px;
    overflow: hidden;
}
#people_saying .sec_title {
    margin-bottom: 20px;
}
#people_saying{
    height: 550px;
}
section#download_app {
    height: 200px;
    background: #648cff;
}
.download_sector {
    width: 350px;
    line-height: 22px;
    margin-top: 20px;
}

.download_sector h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #fff;
}

.download_sector p {
    color: #fff;
    margin-bottom: 30px;
}
button#app_store {
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}
button#app_store:hover{
    background-color: #ffffff;
    color: #000000;
}
button#app_store:hover a{
    color: #eb3f0f;
    transition: all 0.3s ease;
}
button#app_store:hover i{
    transition: all 0.3s ease;
    color: #eb3f0f;
}
button#app_store i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
button#app_store a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

button#google_play {
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 0.3s ease;
    background: #000;
}


button#google_play:hover{
    background-color: #ffffff;
    color: #000000;
}
button#google_play:hover a{
    color: #eb3f0f;
    transition: all 0.3s ease;
}
button#google_play:hover i{
    transition: all 0.3s ease;
    color: #eb3f0f;
}
#footer_main{
    height: 180px;
    background-color: #353854;
}
footer#footer_main {
    padding: 50px;
}
footer#footer_main {
    padding: 50px;
}
.copyright{
    float: right;
}
button#google_play i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
button#google_play a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.image_sector{
    float: right;
    width: 575px;
}
.image_right{
    width: 300px;
    float: right;
}
.image_right img {
    margin-top: -69%;
    width: 165%;
    margin-left: -80%;
}
.copyright p {
    margin-top: 100px;
    color: #565b87;
    font-size: 15px;
}
 footer#footer_main .main_bar {
    border-bottom: 1px solid #434769;
}